[submodule "tmux-resurrect"]
	path = tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule "vim_config/Vundle.vim"]
	path = vim_config/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
