[submodule "bash_config/tmux-plugins/tmux-yank"]
	path = bash_config/bash-plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank.git
[submodule "bash_config/tmux-plugins/tmux-resurrect"]
	path = bash_config/bash-plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
